{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="delete-wrapper">
        <div class="custom-profile-box text-light">
            <h3 class="text-center mb-4">Confirm Delete</h3>
            <p class="text-center mb-4">Are you sure you want to delete your profile?</p>

            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-1">
                        <label class="form-label">{{ field.label }}</label>
                        <div>{{ field }}</div>
                    </div>
                {% endfor %}

                <button type="submit" class="custom-login-btn w-100 mb-2">Yes, Delete</button>
                <a href="{% url 'profile-details' %}" class="btn btn-outline-light w-100">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
