/* Основни стилове за страницата */
body {
    font-family: 'Segoe UI', sans-serif;

    /* Слоен фон: изображение + градиент */
    background-image:
        url('/media/background.jpg'),
        radial-gradient(ellipse at center, #0c0617 0%, #060212 100%);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain, cover;
    background-attachment: fixed;

    color: #f8f9fa;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

/* Контейнер за основното съдържание */
.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
}

/* Заглавие и подзаглавие */
.hero-header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0); /* прозрачен фон */
}

/* Долна част на страницата */
footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ccc;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}
