body {
    font-family: 'Segoe UI', sans-serif;

    background-image:
        url('/media/background.jpg'),
        radial-gradient(ellipse at center, #0c0617 0%, #060212 100%);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain, cover;
    background-attachment: fixed;

    color: #f8f9fa;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
}

.hero-header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ccc;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

.custom-login-position {
    margin-top: -9rem;
    width: 50%;
    max-width: 200px;
}

.custom-login-btn {
    border: 2px solid #0d6efd;
    background-color: #2c2f45;
    color: #f8f9fa;
    padding: 0.4rem 1.4rem;
    font-weight: 700;
    border-radius: 0.3rem;
    width: auto;
    min-width: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-login-btn:hover {
    background-color: #3a3e5c;
    transform: scale(1.05);
    color: #fff;
}

.form-control {
    border: 2px solid #0d6efd !important;
    background-color: white !important;
    color: black;
    border-radius: 0.375rem;
}

.form-control:focus {
    border-color: #0b5ed7;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
    outline: none;
}

.custom-register-position {
    width: 50%;
    max-width: 200px;
}

.register-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: -2.5vw;
    margin-top: -9rem;
}

.custom-profile-box {
    margin-top: -9rem;
    margin-left: -1.75vw;
    width: 100%;
    max-width: 220px;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    background: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.profile-text {
    text-align: left;
    padding-left: 0.5rem;
}

.profile-btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-left: -2.5vw;
}

.profile-btn-wrapper .custom-login-btn {
    width: 100px;
    text-align: center;
    text-decoration: none;
}

.edit-profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -9rem;
    margin-left: -2.5vw;
}

.edit-form-wrapper {
    max-width: 220px;
    padding-left: 0.5rem;
}

.edit-btn-wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-left: -0.55vw;
}

.edit-btn-wrapper .custom-login-btn {
    width: 100px;
    text-align: center;
}

.edit-profile-heading {
    color: white;
    margin-bottom: 1rem;
    margin-left: 2rem;
    text-align: left;
}