{% extends "common/base.html" %}
{% load static %}

{% block page-header %}{% endblock %}

{% block content %}
    <div class="add-tattoo-container">
        <div class="edit-profile-wrapper">
            <div class="edit-form-wrapper">
                <h3 class="edit-profile-heading">Add Tattoo</h3>

                <form method="post" enctype="multipart/form-data" id="add-tattoo-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <div class="form-text text-light">{{ field.help_text }}</div>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </form>

                <div class="edit-btn-wrapper">
                    <button type="submit" form="add-tattoo-form" class="custom-login-btn">Save</button>
                    <a href="{% url 'tattoo-list' %}" class="btn btn-outline-light">Cancel</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
